* {
    margin: 0;
    padding: 0;
}


.nav-div {
    background-color: #353a40;
    padding: 1%;
}

.nav-div .links {
    margin-right: 4em;
}

.nav-div .links ul li a {
    text-decoration: none;
    color: #949e9f;
}

.nav-div .links ul li a span {
    color: #02a149;
    font-weight: normal;
}

.nav-div ul {
    list-style-type: none;
}

.nav-div h5 {
    font-size: x-large;
}

.img-info {
    position: relative;
    height: 780px;
    background-color: aqua;
    background-image: url(../images/ba1.jpg);
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu-container.show {
    max-height: 200px;
}

.descripcionBS {
    padding-top: 18%;
    padding-right: 8%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    position: relative;
    color: #fff;
    z-index: 2;
    text-align: right;
    max-width: 100%;
    padding-right: 50px;
}


.img-info h1 {
    font-size: 49px;
}

.header .icon {
    height: 55px;
    width: 125px;
}

.contact .pieTitulo .ignite {
    border-bottom: 2px dotted #000;
    text-decoration: none;
    color: #000000;
}

.mainTickets {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainTickets .tickets {
    text-align: center;
}

.mainTickets .trainee {
    margin: 0 10px;
}

footer {
    background-color: #1d465c;
    padding: 2em;
    margin-top: 2em;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li {
    list-style: none;
}

@media (max-width: 767px) {
    footer ul {
        flex-direction: column;
        text-align: center;
    }

    footer li {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    footer ul {
        justify-content: space-between;
    }
}


#boton {
    background-color: #02a149;
    color: white;
}

#boton:hover {
    background-color: #005727;
}

@keyframes expand-down {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}

.menu-container.show {
    animation: expand-down 0.3s ease-in-out;
}

@keyframes collapse-up {
    from {
        max-height: 200px;
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: 0;
    }
}

.card {
    max-width: 100%;
    width: 400px;

}

@media (min-width: 516rem) {
    .card {
        max-width: calc(50% - 1rem);
    }
}